<div>
  <h1 class="text-center">
    My Recipes
  </h1>
</div>

<hr>

<br>

<div class="container justify-content-center">
  <div class="text-center">
    <h2>
      Saved Recipes
    </h2>
  
    <h4>
      Add a new saved recipe
    </h4>
  </div>


  <div class="col-11 container justify-content-center">
    <form action="/insert_saved_recipe" method="post">

      <div class="input-group text-center">
        <input type="hidden" id="source_url" name="query_source_url" value="<%= @path %>">
        <select class="form-select col-9" id="recipe_id_box" name="query_recipe_id" aria-label="Example select with button addon">
          <option selected>Select recipe...</option>
          <% Recipe.where.not( :id => @saved_id_array).order(:name).each do |a_recipe|%>
            <option value=<%= a_recipe.id %>>
              <%= a_recipe.name %> - <%= a_recipe.ingredient_list.to_s.gsub(/[^a-zé0-9\s\,]/i, "").capitalize %>
            </option>
          <% end %>
        </select>
        <button class="btn btn-outline-secondary col-3">Save Recipe</button>
      </div>

    </form>
  </div>

</div>

<hr>

<div>
  <table class="table col-11 container justify-content-center">
    <thead class="thead-dark">    

      <th class="align-middle text-center" style="width: 8%;">
        IBA
      </th>

      <th class="align-middle" style="width: 24%;">
        Recipe
      </th>

      <th class="align-middle">
        Ingredients
      </th>

      <th class="align-middle">
      </th>

    </tr>

    <% @list_of_saved_recipes.each do |a_saved_recipe| %>
    <tr>   

      <td class="text-center" style="width: 8%;">
        <% if a_saved_recipe.recipe.iba_status == true %>
          <i class="fas fa-award h5" style="color: goldenrod;"></i>
        <% end %>
      </td>

      <td class="align-middle" style="width: 24%;">
        <a href="/recipes/<%= a_saved_recipe.recipe.id %>"><%= a_saved_recipe.recipe.name %></a>
      </td>

      <td class="align-middle">
        <%= a_saved_recipe.recipe.ingredient_list.to_s.gsub(/[^a-zé0-9\s\,]/i, "").capitalize %>
      </td>

      <td class="align-middle text-right">
        <form action="delete_saved_recipe/<%= a_saved_recipe.id %>">
          <input type="hidden" name="query_saved_recipe_id" value="<%= a_saved_recipe.id %>">
          <input type="hidden" id="source_url" name="query_source_url" value="<%= @path %>">
          <button class="btn btn-outline-danger btn-sm">
            Unsave
          </button>
        </form>
      </td>

    </tr>
    <% end %>
  </table>
</div>


<hr>
<br>

<div class="justify-content-center">
  <div>
    <h2 class="text-center">
      Created Recipes
    </h2>
  </div>

  <div>

    <form action="/create_recipe_form">
      <div class="input-group mb-3 col-12">
        <input type="hidden" id="source_url" name="query_source_url" value="<%= @path %>">
        <button class="btn btn-outline-secondary col-3">Create a New Recipe</button>
      </div>
    </form>

  </div>

</div>

<hr>

<div>

  <table class="table col-11 container justify-content-center">
    <thead class="thead-dark">    

      <th class="align-middle text-center" style="width: 8%;">
        IBA
      </th>
      
      <th class="align-middle" style="width: 24%;">
        Recipe
      </th>

      <th class="align-middle">
        Ingredients
      </th>

    </tr>

    <% @list_of_recipes.each do |a_recipe| %>
    <tr>   
      
      <td class="align-middle text-center" style="width: 8%;">
        <% if a_recipe.iba_status == true %>
          <i class="fas fa-award h5" style="color: goldenrod;"></i>
        <% end %>
      </td>

      <td class="align-middle" style="width: 24%;">
        <a href="/recipes/<%= a_recipe.id %>"><%= a_recipe.name %></a>
      </td>

      <td class="align-middle">
        <%= a_recipe.ingredient_list.to_s.gsub(/[^a-zé0-9\s\,]/i, "").capitalize %>
      </td>

    </tr>
    <% end %>
  </table>

</div>

<hr>