<div>
  <div>
    <h1 class="text-center">
      My Recipes
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2 class="text-center">
      Saved Recipes
    </h2>
  </div>
  <br>
  <div>
    <h4 class="text-center">
      Add a new saved recipe
    </h4>

    <form action="/insert_saved_recipe" method="post">
      
      <div>
        <label for="recipe_id_box">
          Recipe
        </label>

        <select id="recipe_id_box" name="query_recipe_id">
          <% Recipe.all.order(:name).each do |a_recipe|%>
            <option value=<%= a_recipe.id %>>
              <%= a_recipe.name %> - <%= a_recipe.ingredient_list.to_s.gsub(/[^a-zé0-9\s\,]/i, "").capitalize %>
            </option>
          <% end %>
        </select>

        <button class="btn btn-outline-secondary btn-sm">
          Save
        </button>
      </div>
    </form>
  </div>
</div>

<hr>

<div>
  <div class="container d-flex col-12 justify-content-center">
    <table class="table table-hover table-striped col-12">
      <thead class="thead-dark">    

        <th class="align-middle">
          Recipe
        </th>

        <th class="align-middle text-center">
          IBA Official
        </th>

        <th class="align-middle">
          Ingredients
        </th>

        <th class="align-middle">
        </th>

      </tr>

      <% @list_of_saved_recipes.each do |a_saved_recipe| %>
      <tr>   

        <td class="align-middle">
          <a href="/recipes/<%= a_saved_recipe.recipe.id %>"><%= a_saved_recipe.recipe.name %></a>
        </td>

        <td class="text-center">
          <% if a_saved_recipe.recipe.iba_status == true %>
            <i class="fas fa-award h5" style="color: goldenrod;"></i>
          <% end %>
        </td>

        <td class="align-middle">
          <%= a_saved_recipe.recipe.ingredient_list.to_s.gsub(/[^a-zé0-9\s\,]/i, "").capitalize %>
        </td>

        <td class="align-middle text-right">
          <form action="delete_saved_recipe/<%= a_saved_recipe.id %>">
            <button class="btn btn-danger btn-sm">
              Remove Save
            </button>
          </form>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2 class="text-center">
      Created Recipes
    </h2>
  </div>
  <br>
  <div>
    <h4 class="text-center">
      Create a new recipe
    </h4>

    <form action="/create_recipe_form" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" placeholder="ie: Singapore Sling">
      
        <button class="btn btn-outline-secondary btn-sm">
          Create recipe
        </button>
      </div>
    </form>
  </div>
</div>

<hr>

<div>
  <div class="container d-flex col-12 justify-content-center">
    <table class="table table-hover table-striped col-12">
      <thead class="thead-dark">    

        <th class="align-middle">
          Recipe
        </th>

        <th class="align-middle text-center">
          IBA Official
        </th>

        <th class="align-middle">
          Ingredients
        </th>

      </tr>

      <% @list_of_recipes.each do |a_recipe| %>
      <tr>   

        <td class="align-middle">
          <a href="/recipes/<%= a_recipe.id %>"><%= a_recipe.name %></a>
        </td>

        <td class="align-middle text-center">
          <% if a_recipe.iba_status == true %>
            <i class="fas fa-award h5" style="color: goldenrod;"></i>
          <% end %>
        </td>

        <td>
          <%= a_recipe.ingredient_list.to_s.gsub(/[^a-zé0-9\s\,]/i, "").capitalize %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>