<div>
  <div>
    <h1 class="text-center">
      Cocktail Recipes
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h4 class="text-center">
      Create a new recipe
    </h4>

    <form action="/create_recipe_form" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" placeholder="ie: Singapore Sling">
      
        <button class="btn btn-outline-secondary btn-sm">
          Create recipe
        </button>
      </div>
    </form>
  </div>
</div>

<hr>

<div>
  <div class="container d-flex col-12 justify-content-center">
    <table class="table table-striped">
      <thead class="thead-dark">    

        <th class="align-middle">
          Recipe
        </th>

        <th class="align-middle text-center">
          IBA Official
        </th>

        <th class="align-middle">
          Ingredients
        </th>

        <th class="align-middle">
        </th>

      </tr>

      <% @list_of_recipes.each do |a_recipe| %>
      <tr>   

        <td class="align-middle">
          <a href="/recipes/<%= a_recipe.id %>"><%= a_recipe.name %></a>
        </td>

        <td class="align-middle text-center">
          <% if a_recipe.iba_status == true %>
            <i class="fas fa-award h5" style="color: goldenrod;"></i>
          <% end %>
        </td>

        <td class="align-middle">
          <%= a_recipe.ingredient_list.to_s.gsub(/[^a-zé0-9\s\,]/i, "").capitalize %>
        </td>

        <td class="align-middle text-right">

          <% matching_records = SavedRecipe.where({ :user_id => @current_user.id, :recipe_id => a_recipe.id }) %>
              <% saved_recipe = matching_records.first %>

              <div class="mb-3">
                <% if saved_recipe != nil %>
                  <form action="/delete_saved_recipe/<%= a_recipe.id %>">
                    <button class="btn btn-danger btn-sm">
                      Remove Save
                    </button>
                  </form>
                <% else %>
                  <form action="/insert_saved_recipe" method="post">
                    <input name="query_recipe_id" type="hidden" value="<%= a_recipe.id %>">
                    <button class="btn btn-outline-secondary btn-sm">
                      Save
                    </button>
                  </form>
                <% end %>
              </div>

        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>