<div>
  <div>
    <h1 class="text-center">
      <%= @the_recipe.name %>
      
        <% if @the_recipe.iba_status == true %>
            <i class="fas fa-award" style="color: goldenrod;"></i>
        <% end %>

    </h1>

    <% if @the_recipe.iba_status == true %>
      <h5 class="text-center">
        IBA Official Cocktail
      </h5>
    <% end %>

    <hr>

    <% matching_records = SavedRecipe.where({ :user_id => @current_user.id, :recipe_id => @the_recipe.id }) %>
    <% saved_recipe = matching_records.first %>

    <div class="text-center mb-3">
      <% if saved_recipe != nil %>
        <form action="/delete_saved_recipe/<%= @the_recipe.id %>">
          <button class="btn btn-danger btn-sm">
            Remove Save
          </button>
        </form>
      <% else %>
        <form action="/insert_saved_recipe" method="post">
          <input name="query_recipe_id" type="hidden" value="<%= @the_recipe.id %>">
          <button class="btn btn-outline-secondary btn-sm">
            Save
          </button>
        </form>
      <% end %>
    </div>

    <div>
      <div class="text-center mb-3">
        <form action="/recipes">
          <button type="button" class="btn btn-outline-secondary btn-sm">
            Go back
          </button>
        </form>
      </div>
    </div>

    <hr>

    <div class="container d-flex col-6 justify-content-center">
    <dl>

      <dt>
        Ingredients
      </dt>

      <dd>
        <ul>
          <% @the_recipe.ingredients.order({ :measure_ml => :desc }).each do |a_ingredient| %>
            <li>
              <%= a_ingredient.summary %>
            </li>
          <% end %>

          <% @the_recipe.na_ingredients.order({ :name => :desc }).each do |a_na_ingredient| %>
            <li>
              <%= a_na_ingredient.summary %>
            </li>
          <% end %>
        </ul>
      </dd>

      <dt>
        Preparation
      </dt>
      <dd>
        <%= @the_recipe.preparation %>
      </dd>

      <dt>
      </dt>
      <br>
      <dd>
        Updated <%= time_ago_in_words(@the_recipe.updated_at) %> ago
      </dd>
    </dl>
    </div>
  </div>
</div>

<hr>

<% if @current_user.id == @the_recipe.user.id %>
  <div>
    <div>
      <h4>
        Edit recipe
      </h4>

      <form action="/modify_recipe/<%= @the_recipe.id %>"  method="post" >
        <div>
          <label for="name_box">
            Name
          </label>

          <input type="text" id="name_box" name="query_name" value="<%= @the_recipe.name %>">
        </div>

        <div>
          <label for="user_id_box">
            User
          </label>

          <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_recipe.user_id %>">
        </div>

        <div>
          <label for="preparation_box">
            Preparation
          </label>

          <textarea id="preparation_box" name="query_preparation"><%= @the_recipe.preparation %></textarea>
        </div>

        <div>
          <input type="checkbox" id="iba_status_box" name="query_iba_status" value="1" <%= "checked" if @the_recipe.iba_status %>>

          <label for="iba_status_box">
              Iba status
          </label>
        </div>

        <button class="btn btn-secondary">
          Update recipe
        </button>
      </form>
    </div>
  </div>

  <hr>

    <form action="/delete_recipe/<%= @the_recipe.id %>">
      <button class="btn btn-danger btn-sm">
        Delete recipe
      </button>
    </form>
    
  <hr>
<% end %>